:root {
  --fg-color: black;
  --bg-color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.game {
  padding: 0.1rem;
  border: 1px solid var(--fg-color);
}

.gamePlayer {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.1rem;
  border-radius: 5px;
  color: var(--player-fg);
  background: var(--player-bg);
  border: 1px solid var(--player-border);
}

.playerName {
  font-size: 1.2rem;
}

.playerScore, .playerTime {
  flex: 1 1 auto;
}

.gameStatus {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}