:root {
  --fg-color: black;
  --bg-color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.game {
  padding: 0.1rem;
}

.gameStatus {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.gameResult {
  font-weight: bold;
}

.gamePlayer {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.1rem;
  border-radius: 5px;
  color: var(--player-fg);
  background: var(--player-bg);
  border: 1px solid var(--player-border);
}

.gamePlayerActive {
  border: 3px dashed var(--player-active);
}

.gamePlayerActive .playerName {
  font-weight: 900;
}

.playerName {
  font-size: 1.2rem;
}

.playerScore, .playerTime {
  flex: 1 1 auto;
}

.playerApikey a {
  color: inherit;
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}